.go-home {
    margin: 13px 0;


}

.custom-button {   
    height: 30px;
    font-size: 12px;
    position: fixed;
    top: 10px;        
 left: 10px;
        
}

.custom-button mat-icon {
    font-size: 23px;
}